.sub-nav{
    top: 100%;
    padding-left: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.sub-item{
    font-size: 22px;
    cursor: pointer;
    width: 200PX;
    height: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}